# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
builddata/
builds/
*.spec
versionfile.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

# Logs / Savedata
app/savedata
app/logs
.history

# Scripts
playground/